In [8]:
# %%debug
# import pdb
# from pdb import set_trace as bp

import sys,logging
stdout=sys.stdout
sys.path.append('../')
import JSONData.tdx_data_Day as tdd
from  JSONData import sina_data 
import pandas as pd
sys.stdout=stdout

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# def excepthook(type,value,traceback):
#     logging.error("Unhandled exception occured",exc_info=(type,value,traceback))
#     #Don't need another copy of traceback on stderr
#     if old_excepthook!=sys.__excepthook__:
#         old_excepthook(type,value,traceback)
# print 'new:',sys.excepthook
# sys.excepthook = excepthook
# print 'new:',sys.excepthook

#Delete Jupyter notebook root logger handler
# mylogger = logging.getLogger()
# if len(mylogger.handlers) > 0:
#     for ix in mylogger.handlers:
#         print ("handlers:%s std:%s"%(ix.stream,sys.stdout))
# else:
#     print "nb not handlers"
# #     mylogger.propagate = False
# mylogger.setLevel(logging.ERROR)
# print "nb:",sys.stderr

df=tdd.get_tdx_Exp_day_to_df('999999',dl=5)
# print df[~df.index.duplicated(keep='first')]

In [9]:
import time,random
# start='20110226'
start = None
time_s = time.time()
# code_list = ['399006','000001','999999']
code_list = sina_data.Sina().market('all').index.tolist()
print "all code:",len(code_list)

# df = tdd.search_Tdx_multi_data_duration('tdx_all_df_300', 'all_300', df=None,code_l=code_list, start=start, end=None, freq=None, col=None, index='date')
df = tdd.search_Tdx_multi_data_duration('tdx_all_df_300', 'all_300', df=None,code_l=code_list, start='20150501', end=None, freq=None, col=None, index='date')
# print len(df.loc['600816'])
code_uniquelist=df.index.get_level_values('code').unique()
code_select = code_uniquelist[random.randint(0,len(code_uniquelist)-1)]
round(time.time()-time_s,2),df.index.get_level_values('code').unique().shape,code_select,df.loc[code_select][:2]
# df.groupby(level=[0]),df.index.get_level_values(0)
# len(df.index.get_level_values('code').unique())
df = df.drop_duplicates()
# dfs = df[~df.index.duplicated(keep='first')]
dfs = df
# print 'new:',sys.excepthook
print "df:",len(df.index.get_level_values('code').unique()),"dfs:",len(dfs.index.get_level_values('code').unique())

all code: 3362

(0.5, (3358,), '600004',             open  high   low  close      vol    amount
 date
 2016-05-12  7.98  8.05  7.86   7.99  6264058  76579272
 2016-05-13  7.95  8.08  7.88   7.93  5671598  69406952)

df: 3358 dfs: 3358

# tdd.get_tdx_Exp_day_to_df('399006', dl=30, newdays=0, resample='d')[:2]
# tdd.get_tdx_append_now_df_api('399006', dl=30, newdays=0)[['ma5d','ma10d','ma20d']][:3]
dd =tdd.get_tdx_append_now_df_api('600150', dl=300).sort_index(ascending=True)
dd['ma120d'] = pd.rolling_mean(dd.close, 250)
dd.shape,dd['ma120d'][-3:]
# dd.close

In [10]:
dfs.index.levels[0][:5]
print dfs.loc['300310'][-1:]
dfs.index.get_level_values('date')[-1]
# dfs[(dfs.index.get_level_values('date')[-1])]
groupd = dfs.groupby(level=[0])
print 'tail1:',groupd.tail(1).loc['600460']

print 'reset_index:',dfs.reset_index(level=1).groupby(level=0).tail(1).loc['300310']

print 'groupy first:',dfs.groupby(level=[0]).first().loc['300310']

print 'groupy tail:',dfs.groupby(level=[0]).tail(1).loc['300310']
# dfs.ix[dfs.index[len(dfs.index)-1][0]]
# dfd = dfs.ix[dfs.index.levels[1][-1]]

Index([u'000001', u'000002', u'000004', u'000005', u'000006'], dtype='object', name=u'code')

             open   high    low  close       vol        amount
date
2017-09-21  12.66  13.36  12.66  13.01  28895638  3.792634e+08

'2017-09-21'

tail1:             open  high   low  close        vol      amount
date
2017-09-21  9.35   9.9  9.29   9.86  198834725  1922391747
reset_index: date       2017-09-21
open            12.66
high            13.36
low             12.66
close           13.01
vol       2.88956e+07
amount    3.79263e+08
Name: 300310, dtype: object
groupy first: open      1.522000e+01
high      1.710000e+01
low       1.435000e+01
close     1.658000e+01
vol       4.362789e+06
amount    1.946844e+08
Name: 300310, dtype: float64
groupy tail:              open   high    low  close       vol        amount
date
2017-09-21  12.66  13.36  12.66  13.01  28895638  3.792634e+08

In [11]:

# df['ma250d'] = pd.rolling_mean(df.close, 250)
# df.groupby(level=[0]).agg({'close':'rolling_mean'})
# df.sort_index(ascending=False,inplace=True)
# dfs = df
# dfs = dfs[~dfs.index.duplicated(keep='first')]
# print 
groupd = dfs.groupby(level=[0])
# for da in ['5','10','60','100','120','200']:
# rollma = ['5','10','60','100','200']
rollma = ['5','200']
for da in rollma:
    cumdays=int(da)
    dfs['ma%d'%cumdays] = groupd['close'].apply(pd.rolling_mean, cumdays)
# df.ix[df.index.levels[0]]
#df.ix[df.index[len(df.index)-1][0]] #last row
# import pdb;pdb.set_trace()
# print groupd.tail(1).loc['600460']
# dfd = tdd.search_Tdx_multi_data_duration(df=dfs,code_l=code_list, start='20170918', end='20170918', freq=None, col=None, index='date')
dfd = groupd.tail(1)

# dfs.index.levels[0]
# dfs.iloc[-1]
# dfd = dfs.ix[dfs.index.levels[1][-1]]


print dfd[:1],len(dfd)
# groupd.agg({'low': 'min'})
# '''idx mask filter'''
# '''
idx = pd.IndexSlice
print rollma[0],rollma[-1]
# mask = (dfd[('close')] > dfd[('ma5')])  & (dfd[('close')] > dfd[('ma250')])
mask =(dfs[('close')] > dfs[('ma%s')%(rollma[0])])  & (dfs[('close')] > dfs[('ma%s')%(rollma[-1])]) 

df=dfd.loc[idx[mask, :]]
# df250=df
# groupd.first()[:2],groupd.last()[:2]
# groupd = df250.groupby(level=[0])
# '''
# groupd.transform(lambda x: x.iloc[-1])
# groupd.last()
# groupd.apply(lambda x: x.close > x.ma250)
# df.shape,df.sort_index(ascending=False)[:5]
# ?groupd.agg
# groupd = df.groupby(level=[0])
# groupd['close'].apply(pd.rolling_mean, 250, min_periods=1)
#ex:# Group df by df.platoon, then apply a rolling mean lambda function to df.casualties
 # df.groupby('Platoon')['Casualties'].apply(lambda x:x.rolling(center=False,window=2).mean())
# df[-2:]
code_uniquelist=df.index.get_level_values('code').unique()
code_select = code_uniquelist[random.randint(0,len(code_uniquelist)-1)]
round(time.time()-time_s,2),df.index.get_level_values('code').unique().shape,code_select,df.loc[code_select]

                    open   high    low  close     vol   amount     ma5  \
code   date
300492 2017-06-05  45.96  46.25  45.06  45.98  151844  6970620  46.032

                     ma200
code   date
300492 2017-06-05  50.5006   3358
5 200

(10.79,
 (389,),
 '002523',
             open  high   low  close      vol       amount   ma5   ma200
 date
 2017-09-21  5.88  5.91  5.71   5.74  6395397  37155373.61  5.71  5.6093)