In [ ]:
#初始化pandas.HDFStore

In [1]:
import pandas
fpath = 'tdx_all_df_300.h5'

In [2]:
def readHdf5(fpath,root):
    store=pd.HDFStore(fpath,'r')
    print(store.keys())
    df=store[root]
    store.close()
    return df

In [3]:
df=readHdf5(fpath,'all_300')
df[-3:]

['/all_300']

                    open   high    low  close         vol        amount
code   date
300132 2023-01-13   6.99   6.99   6.85   6.94   6765847.0  4.671645e+07
300131 2023-01-13   4.93   4.93   4.85   4.90   6888600.0  3.362897e+07
300130 2023-01-13  12.66  12.84  12.52  12.83  12621101.0  1.607520e+08

In [33]:
#open tdx_Ramdisk

In [6]:
tdx_path='G:\\tdx_last_df.h5'
sina_MultiD_path='G:\\sina_MultiIndex_data.h5'

In [10]:
df2=readHdf5(tdx_path,'low_d_60_y_all')
df2[-3:]

['/low_d_60_y_all']

,lopen,lhigh,llow,lastp,lvol,lamount,ma5d,ma10d,ma20d,upper,...,lmin,min5,cmean,hv,lv,date,lowvol,last6vol,category,timel
code,,,,,,,,,,,,,,,,,,,,,
600918,6.32,6.44,6.31,6.36,18702535.0,121915048.0,6.5,6.5,6.5,7.2,...,6.31,6.39,6.49,38314144.0,6789000.0,2022-10-31,18277677.0,9492885.0,新三板精选层 ;新股与次新股,1.673752e+09
003003,9.00,9.06,8.79,9.01,4595854.0,49670366.7,11.1,11.6,11.4,12.9,...,8.79,10.66,11.13,28214046.0,1672837.0,2022-10-25,8318933.0,4595854.0,快递 ;新股与次新股 ;核准制,1.673752e+09
605199,14.75,15.08,14.32,14.54,2214900.0,34868538.0,15.9,16.1,17.9,17.9,...,14.32,15.62,15.88,34435419.0,2097200.0,2022-10-25,2734338.0,2214900.0,中医药 ;流感 ;海南自贸区,1.673752e+09